<%
    var title = page.category || page.tag || 'Archives';
    postList = page.posts;
%>

<section class="archives">
    <% if(title) { %>
        <div class="archive-title"><%- title %></div>
    <% } %>
    <ul class="archive-list time-line">
        <% 
        var dateShow, year, month;
        postList.each(function(item){ 
            item.year = date(item.date, 'YYYY');
            dateShow = false;
            if(item.year !== year) {
                year = item.year;
                dateShow = true;
            }
            if(dateShow) {%>
                <li class="time-node archive-date">
                    <%= year %>
                </li>
            <%}
            %>
            <%- partial('_partial/article-archive', {item: item}) %>
        <% }); 
        %>
    </ul>
</section><!-- end main -->
