.layout{
  width: 100%;
  margin: 0 auto;
}

.time-line {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 6em;
  list-style: none;
}
.time-line::before {
  /* this is the vertical line */
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 2px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}

.time-line li {
  position: relative;
  margin-left: 0;
}

.archives ul.time-line li.time-node {
  margin: 30px 0;
}

.time-line li::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  background: #ddd;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.time-line .time-node::before {
  width: 14px;
  height: 14px;
  margin-left: -8px;
  margin-top: -6px;
}

.time-line .content-node {

  >.date {
    position: absolute;
    left: -4em;
    top: calc(50% - 15px);
    font-size: 18px;
  }

  &::before{
    width: 10px;
    height: 10px;
    margin-left: -6px;
    margin-top: -4px;
    background-color: #fff;
    transition: background-color ease 0.2s;
  }

  @media screen and (max-width: 480px) {
    >.description {
      display: none;
    } 
  }
  
  >.description {
    font-size: 12px;
    font-weight: 200;
  }
}

.time-line li{
  padding-left: 2em;
}

ul.time-line li.content-node:hover::before{
  background: #ddd !important;
}